# Eclipse
.classpath
.project
.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/
 
# Intellij
.idea/
*.iml
*.iws

# Scala
.gradle
/bin
/target
/project/target
*.cache
*.log

# Local
time.txt
